<html>
<head>
  <title>Login</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet"  type="text/css" href="/css/login.css">

<script src="/js/jQuery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/images/logo.png">
    </div>

    <!-- Login Form -->
    <form id="loginForm" method="POST" action="/api/login">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd 
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>-->


  </div>
</div>

</body>
</html>